.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: black;
  color: rgb(0, 102, 255);
}
.header h1{
    font-size: 1rem;
    font-weight: 400;
}
.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.header ul li a{
     color: rgb(0, 102, 255);
     font-size: 0.8rem;
}